{% extends "agency/agency-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="pt-5">
        <a class="text-decoration-none" href="{% url 'agency barangay' %}" role="button"><i class='bx bx-arrow-back'></i> Back</a>
    </div><!--end of back button-->
    
    <div class="pt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'agency barangay individual' %}">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'agency barangay individual report' %}">Report</a>
            </li>
          </ul>
    </div><!--end of padding top-->


    <div class="container pt-2">
    <div class="row pt-4">
        <div class="col-lg-4 col-md-4 col-sm-8">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Barangay Name</label>
          </div>
        </div><!--end of col-->    
        <div class="col-lg-4 col-md-4 col-sm-8">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Barangay Location</label>
          </div>
        </div><!--end of col-->        
        <div class="col-lg-4 col-md-4 col-sm-8">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Contact Number</label>
          </div>
        </div><!--end of col-->       
    </div><!--end of row-->

    <div class="pt-2">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-outline-primary me-md-2" type="button">Clear</button>
      <button class="btn btn-primary" type="button"><i class="bi bi-pencil-square"></i> Edit</button>
      
    </div>
  </div>

</div><!--end of container-->






{% endblock %}
{% endblock content %}