{% extends "agency/agency-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="pt-5">
        <a class="text-decoration-none" href="{% url 'agency barangay' %}" role="button"><i class='bx bx-arrow-back'></i> Back</a>
    </div><!--end of back button-->

    <div class="pt-4">
        <h1>Cabatangan</h1>
    </div>

    <div class="pt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Report</a>
            </li>
          </ul>
    </div><!--end of padding top-->

</div><!--end of container-->






{% endblock %}
{% endblock content %}