{% extends "main.html" %}


{% block content %}


<div class="container pt-5 pb-5">
    <div class="card">
      <div class="card-body">
        <div class="pt-3">
            <a class="text-decoration-none" href="{% url 'report' %}" role="button"><i class='bx bx-arrow-back'></i> Back</a>
        </div><!--End of button-->
        <h1 class="text-center pt-3"><strong>File a VAWC Report</strong></h1>

        <h1 class="text-center pt-3"><strong>Victim-Survivor Information</strong></h1>

        <div class="row"><!--First Row-->

          <h5 class="pt-3"><strong>Name:</strong></h5>

            <div class="col-lg-3 col-md-3 col-sm-8 pb-2"> <!--Firstname-->
              <label for="victim-firstname" class="form-label">First name: </label>
              <input type="text" class="form-control" id="victim-firstname">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-8 pb-2"> <!--middlename-->
              <label for="victim-middlename" class="form-label">Middle name: </label>
              <input type="text" class="form-control" id="victim-middlename">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-8 pb-2"> <!--lastname-->
              <label for="victim-lastname" class="form-label">Last name: </label>
              <input type="text" class="form-control" id="victim-lastname">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-8 pb-2"> <!--suffix-->
              <label for="victim-Suffix" class="form-label">Suffix: </label>
              <select id="victim-Suffix" class="form-select">
                <option value="not-available">N/A</option>
                <option value="sr">Sr</option>
                <option value="jr">Jr</option>
                <option value="ii">II</option>
                <option value="iii">III</option>
                <option value="iv">IV</option>
            </select>
            </div><!--end of col-->
        </div><!--End of First row-->

        <div class="row pt-3"><!--Start of second row-->

            <div class="col-lg-4 col-md-4 col-sm-8 pb-2">
              <label for="victim-sex" class="form-label">Sex: </label>
                <select id="victim-sex" class="form-select">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-8 pb-2">
                <label for="victim-age" class="form-label">Date of Birth: </label>
                <input type="date" class="form-control" id="victim-age">
            </div><!--end of col-->

            <div class="col-lg-4 col-md-4 col-sm-8 pb-2">
              <label for="contact-number" class="form-label">Contact Number:</label>
              <input type="tel" class="form-control" id="contact-number" pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}" value="09">
            </div>
      

            </div><!--End of row-->

            <div class="row pt-3 pb-3"><!--Start of third row-->
                <div class="col-lg-4 col-md-4 col-sm-8 pb-2">
                  <label for="tel-number" class="form-label">Telephone Number:</label>
                  <input type="tel" class="form-control" id="tel-number" pattern="[0-9]{3}-[0-9]{4}" value="(062)">
                </div><!--end of col-->
                <div class="col-lg-4 col-md-4 col-sm-8 pb-2">
                  <label for="victim-housenum" class="form-label">Unit no./House no./Building name:</label>
                  <input type="text" class="form-control" id="victim-street">
                </div><!--end of col-->
                <div class="col-lg-4 col-md-4 col-sm-8 pb-2">
                  <label for="victim-street" class="form-label">Street/Zone: </label>
                  <input type="text" class="form-control" id="victim-street">
                </div><!--end of col-->
              </div><!--End of row-->
            <div class="row pt-3 pb-3"><!--Start of fifth row-->
              <div class="col-lg-4 col-md-4 col-sm-8 pb-2"> <!--suffix-->
                <label for="victim-barangay" class="form-label">Barangay: </label>
                <select id="victim-barangay" class="form-select">
                  <option value="arena-blanco">Arena Blanco</option>
                  <option value="ayala">Ayala</option>
                  <option value="baliwasan">Baliwasan</option>
                  <option value="baluno">Baluno</option>
                  <option value="Barangay-zone-I">Barangay Zone I</option>
                  <option value="Barangay-zone-II">Barangay Zone II</option>
                  <option value="Barangay-zone-III">Barangay Zone III</option>
                  <option value="Barangay-zone-IV">Barangay Zone IV</option>  
                  <option value="boalan">Boalan</option>
                  <option value="bolong">Bolong</option>
                  <option value="buenavista">Buenavista</option>
                  <option value="bunguiao">Bunguiao</option>
                  <option value="busay">Busay</option>
                  <option value="cabaluay">Cabaluay</option>
                  <option value="cabatangan">Cabatangan</option>
                  <option value="cacao">Cacao</option>
                  <option value="calabasa">Calabasa</option>
                  <option value="calarian">Calarian</option>
                  <option value="camino-nuevo">Camino Nuevo</option>
                  <option value="campo-islam">Campo Islam</option>
                  <option value="canelar">Canelar</option>
                  <option value="capisan">Capisan</option>
                  <option value="cawit">Cawit</option>
                  <option value="culianan">Culianan</option>
                  <option value="curuan">Curuan</option>
                  <option value="dita">Dita</option>
                  <option value="divisoria">Divisoria</option>
                  <option value="duian-UB">Dulian (Upper Bunguiao)</option>
                  <option value="dulian-UP">Dulian (Upper Pasonanca)</option>
                  <option value="guisao">Guisao</option>
                  <option value="guiwan">Guiwan</option>
                  <option value="kansanyangan">Kansanyangan</option>
                  <option value="labuan">Labuan</option>
                  <option value="lamisahan">Lamisahan</option>
                  <option value="landang-gua">Landang Gua</option>
                  <option value="landang-laum">Landang Laum</option>
                  <option value="lanzones">Lanzones</option>
                  <option value="lapakan">Lapakan</option>
                  <option value="la-paz">La Paz</option>
                  <option value="latuan-curuan">Latuan (Curuan)</option>
                  <option value="licomo">Licomo</option>
                  <option value="limaong">Limaong</option>
                  <option value="limpapa">Limpapa</option>
                  <option value="lumayang">Lumayang</option>
                  <option value="lumbangan">Lumbangan</option>
                  <option value="lunzuran">Lunzuran</option>
                  <option value="maasin">Maasin</option>
                  <option value="malagutay">Malagutay</option>
                  <option value="mampang">Mampang</option>
                  <option value="manalipa">Manalipa</option>
                  <option value="mangusu">Mangusu</option>
                  <option value="manicahan">Manicahan</option>
                  <option value="mariki">Mariki</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="Muti">Muti</option>
                  <option value="pamucutan">Pamucutan</option>
                  <option value="pangapuyan">Pangapuyan</option>
                  <option value="panubigan">Panubigan</option>
                  <option value="pasilmanta">Pasilmanta</option>
                  <option value="pasobolong">Pasobolong</option>
                  <option value="pasonanca">Pasonanca</option>
                  <option value="patalon">Patalon</option>
                  <option value="putik">Putik</option>
                  <option value="quiniput">Quiniput</option>
                  <option value="recodo">Recordo</option>
                  <option value="rio hondo">Rio Hondo</option>
                  <option value="salaan">Salaan</option>
                  <option value="sangali">Sangali</option>
                  <option value="san-jose-cawa-cawa">San Jose Cawa-Cawa</option>
                  <option value="san-jose-gusu">San Jose Gusu</option>
                  <option value="san-roque">San Roque</option>
                  <option value="santa-barbara">Santa Barbara</option>
                  <option value="santa-catalina">Santa Catalina</option>
                  <option value="santa-maria">Santa Maria</option>
                  <option value="santa-niño">Santa Niño</option>
                  <option value="sibulao">Sibulao</option>
                  <option value="sinubung">Sinubung</option>
                  <option value="sinunoc">Sinunoc</option>
                  <option value="tagasilay">Tagasilay</option>
                  <option value="taguiti">Taguiti</option>
                  <option value="tilabaan ">Talabaan</option>
                  <option value="talisayan">Talisayan</option>
                  <option value="talon-talon">Talon-talon</option>
                  <option value="taaluksangay">Taliksangay</option>


              </select>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-8">
                <label for="victim-province" class="form-label">Province: </label>
                <input type="text" class="form-control" id="victim-province" value="Zamboanga Del Sur">
              </div><!--end of col-->
              <div class="col-lg-4 col-md-4 col-sm-8">
                <label for="victim-city" class="form-label">City / Mun: </label>
                <input type="text" class="form-control" id="victim-city" value="Zamboanga City">
              </div><!--emd of col-->
            </div><!--end of row-->

            <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-5">
              <a class="btn btn-outline-primary me-md-2" href="{% url 'report' %}" role="button">Back</a>
              <a class="btn btn-primary" href="{% url 'impact perpetrator' %}" role="button">Next</a>
          </div><!--end of buttons-->
      </div><!--end of card body-->
    </div><!--end of card-->
  </div><!--end of container-->


{% endblock content %}